* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.bg-mob {
  background-color: rgba(95, 91, 91, 0.767);
  height: 100%;
  width: 100vw;
  position: absolute;
  z-index: 15;
}

.request-btn {
  font-size: 15px;
  width: 10rem;
  border: none;
  color: white;
  padding: 1rem;
  border-radius: 30px;
  background-image: -webkit-gradient(linear, left top, right top, from(#6bff93), to(#6ecaff));
  background-image: linear-gradient(to right, #6bff93, #6ecaff);
  outline: none;
  cursor: pointer;
}

.request-btn:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#94ffb0), to(#8ed0f6));
  background-image: linear-gradient(to right, #94ffb0, #8ed0f6);
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}

header {
  padding: 0 15rem;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  position: absolute;
  z-index: 20;
}

@media (max-width: 370px) {
  header {
    padding: 2rem;
    width: 100vw;
  }
}

@media (max-width: 370px) {
  header .top {
    display: none;
  }
}

header .hamb {
  display: none;
}

@media (max-width: 370px) {
  header .hamb {
    display: block;
  }
}

header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  height: 7rem;
}

@media (max-width: 370px) {
  header .nav {
    position: absolute;
    width: 80vw;
    left: 40px;
    top: 200px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
    height: auto;
  }
}

header .nav li {
  padding: 1rem;
  color: #9b9a9a;
  font-weight: 500;
}

header .nav li:hover {
  border-bottom: 4px solid #6ecaff;
}

@media (max-width: 370px) {
  header .show-link {
    background-color: red;
    height: 0;
    overflow: hidden;
  }
}

.next-generation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-end;
  height: 80vh;
  width: 100%;
}

@media (max-width: 370px) {
  .next-generation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.next-generation .right {
  position: relative;
  width: 100%;
  height: 80vh;
  background-image: url("/images/bg-intro-desktop.svg");
  background-repeat: no-repeat;
}

.next-generation .right .mockups {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
}

@media (max-width: 370px) {
  .next-generation .right .mockups {
    width: 80vw;
    height: 50vh;
    top: 40px;
  }
}

@media (max-width: 370px) {
  .next-generation .right {
    width: 100vw;
    height: 100vh;
    background-size: cover;
  }
}

.next-generation .left {
  width: 100%;
  padding-left: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 370px) {
  .next-generation .left {
    width: 100vw;
    margin-top: 30rem;
    padding: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.next-generation .left h1 {
  font-size: 3.3rem;
  padding-bottom: 2rem;
  width: 26rem;
}

@media (max-width: 370px) {
  .next-generation .left h1 {
    font-size: 2.2rem;
    width: 90vw;
  }
}

.next-generation .left p {
  padding-bottom: 2rem;
  width: 26rem;
  line-height: 1.4rem;
  font-size: 1.2rem;
}

@media (max-width: 370px) {
  .next-generation .left p {
    font-size: 1rem;
    width: 90vw;
  }
}

.why-chose {
  background-color: #f3f4f6;
  width: 99vw;
  padding: 0 15rem;
  height: 100%;
}

@media (max-width: 370px) {
  .why-chose {
    width: 100vw;
    height: 100%;
    padding: 0 2rem;
    text-align: center;
  }
}

.why-chose .why-chose__title {
  padding: 7rem 0 5rem 0;
}

.why-chose .why-chose__title h1 {
  font-size: 2.2rem;
  padding: 1rem  0;
}

.why-chose .why-chose__title p {
  width: 26rem;
  line-height: 1.4rem;
  font-size: 1.2rem;
  color: #6d6d6d;
}

@media (max-width: 370px) {
  .why-chose .why-chose__title p {
    width: 90vw;
  }
}

.why-chose .why-chose__articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 370px) {
  .why-chose .why-chose__articles {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.why-chose .why-chose__articles .why-chose__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 20rem;
}

@media (max-width: 370px) {
  .why-chose .why-chose__articles .why-chose__article {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.why-chose .why-chose__articles .why-chose__article h4 {
  font-size: 2rem;
  color: #6d6d6d;
}

.why-chose .why-chose__articles .why-chose__article p {
  width: 18rem;
  font-size: 1.2rem;
  color: #6d6d6d;
}

.latest {
  width: 100%;
  padding: 4rem 15rem;
  background-color: #fafafa;
}

@media (max-width: 370px) {
  .latest {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem;
  }
}

.latest .latest-title {
  padding-bottom: 5rem;
  font-size: 2.2rem;
}

.latest .latest-articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 370px) {
  .latest .latest-articles {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.latest .latest-articles .latest-article {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20rem;
}

.latest .latest-articles .latest-article img {
  width: 20rem;
  height: 12rem;
}

.latest .latest-articles .latest-article h5, .latest .latest-articles .latest-article h2, .latest .latest-articles .latest-article p {
  padding: 0.5rem 1rem;
  color: #6d6d6d;
}

.latest .latest-articles .latest-article h2:hover {
  color: #31d35c;
  cursor: pointer;
}

footer {
  width: 100%;
  height: 39vh;
  background-color: #2d314d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6rem 15rem;
  color: white;
}

@media (max-width: 370px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    padding: 2rem;
  }
}

footer .links {
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 370px) {
  footer .links {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

footer .links div img {
  margin: 0 0.4rem;
}

footer .links div img:hover {
  cursor: pointer;
  color: #31d35c;
}

@media (max-width: 370px) {
  footer .list {
    margin: 0;
    padding: 0;
  }
}

footer .list ul {
  list-style-type: none;
  text-align: left;
}

@media (max-width: 370px) {
  footer .list ul {
    text-align: center;
    margin: 0;
  }
}

footer .list ul a {
  color: white;
  padding: 1rem;
}

@media (max-width: 370px) {
  footer .list ul a {
    padding: 0.5rem;
  }
}

footer .list ul a:hover {
  color: #31d35c;
}

footer .all-rights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 10rem;
}

@media (max-width: 370px) {
  footer .all-rights {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */